openapi: 3.0.3
info:
  title: Laylaty Platform API
  version: "1.0.0"
  description: >
    Laylaty Technical Blueprint v1 — REST API for the multi-tenant commerce,
    booking, POS and accounting platform. See /docs/blueprint/05-rest-api.md
    for conventions (pagination, idempotency, errors, versioning).
servers:
  - url: https://api.laylaty.com/v1
    description: Production
  - url: https://sandbox.api.laylaty.com/v1
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Stores
  - name: Products
  - name: Orders
  - name: Payments
  - name: Bookings
  - name: Resources
  - name: Customers
  - name: Webhooks

paths:
  /stores:
    post:
      tags: [Stores]
      summary: Create a new store
      x-required-permission: stores.create
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StoreCreateInput' }
      responses:
        '201':
          description: Store created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Store' }

  /stores/{store_id}:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Stores]
      summary: Get store details
      x-required-permission: stores.read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Store' }

  /stores/{store_id}/products:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Products]
      summary: List products, services and packages
      x-required-permission: catalog.read
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [product, service, package] }
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Product' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
    post:
      tags: [Products]
      summary: Create a product, service or package
      x-required-permission: catalog.write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }

  /stores/{store_id}/orders:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Orders]
      summary: List orders
      x-required-permission: orders.read
      parameters:
        - name: filter[status]
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Order' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
    post:
      tags: [Orders]
      summary: Create an order
      x-required-permission: orders.create
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }

  /stores/{store_id}/orders/{order_id}:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - name: order_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Orders]
      summary: Get order details
      x-required-permission: orders.read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }

  /stores/{store_id}/orders/{order_id}/cancel:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - name: order_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Orders]
      summary: Cancel an order
      x-required-permission: orders.cancel
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }

  /stores/{store_id}/payments:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Payments]
      summary: Create a payment for an order/invoice
      x-required-permission: payments.create
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentCreateInput' }
      responses:
        '201':
          description: Payment created (or existing payment returned for a repeated idempotency key)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }

  /stores/{store_id}/refunds:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Payments]
      summary: Request a refund
      x-required-permission: refund.request
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefundCreateInput' }
      responses:
        '201':
          description: Refund requested
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Refund' }

  /stores/{store_id}/resources/{resource_id}/availability:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - name: resource_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Resources]
      summary: Get availability slots for a resource
      x-required-permission: booking.read
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AvailabilitySlot' }

  /stores/{store_id}/bookings:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Bookings]
      summary: Create a booking (DRAFT)
      x-required-permission: bookings.create
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BookingCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }

  /stores/{store_id}/bookings/{booking_id}/hold:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - name: booking_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Bookings]
      summary: Place a temporary hold on the booking's time slot
      x-required-permission: bookings.create
      responses:
        '200':
          description: Booking moved to HOLD
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }

  /stores/{store_id}/customers:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Customers]
      summary: List customers
      x-required-permission: crm.read
      parameters:
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Customer' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
    post:
      tags: [Customers]
      summary: Create a customer
      x-required-permission: crm.write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CustomerCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }

  /stores/{store_id}/pos/sync:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Orders]
      summary: Batch-sync offline POS transactions
      x-required-permission: pos.sync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/PosTransactionSyncInput' }
      responses:
        '200':
          description: Sync results (per-item success/conflict)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PosTransactionSyncResult' }

  /stores/{store_id}/webhooks:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Webhooks]
      summary: List registered webhooks
      x-required-permission: apps.manage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Webhook' }
    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      x-required-permission: apps.manage
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    StoreId:
      name: store_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    PageCursor:
      name: page[cursor]
      in: query
      schema: { type: string }
    PageSize:
      name: page[size]
      in: query
      schema: { type: integer, default: 50, maximum: 200 }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }

    PageMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }

    Store:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        business_type: { type: string }
        currency: { type: string, example: SAR }
        timezone: { type: string, example: Asia/Riyadh }
        status: { type: string, enum: [active, suspended, closed] }

    StoreCreateInput:
      type: object
      required: [name, business_type]
      properties:
        name: { type: string }
        business_type: { type: string }
        currency: { type: string, default: SAR }
        timezone: { type: string, default: Asia/Riyadh }

    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        type: { type: string, enum: [product, service, package] }
        name: { type: string }
        slug: { type: string }
        status: { type: string, enum: [draft, active, archived] }

    ProductCreateInput:
      type: object
      required: [type, name]
      properties:
        type: { type: string, enum: [product, service, package] }
        category_id: { type: string, format: uuid }
        name: { type: string }

    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        branch_id: { type: string, format: uuid, nullable: true }
        customer_id: { type: string, format: uuid, nullable: true }
        status:
          type: string
          enum: [DRAFT, PENDING_PAYMENT, PAID, CONFIRMED, PROCESSING, READY, FULFILLED, COMPLETED, CANCELLED, REFUNDED, PARTIALLY_REFUNDED, FAILED, EXPIRED]
        subtotal: { type: number }
        tax: { type: number }
        discount: { type: number }
        total: { type: number }
        currency: { type: string }
        created_at: { type: string, format: date-time }

    OrderCreateInput:
      type: object
      required: [items]
      properties:
        branch_id: { type: string, format: uuid }
        customer_id: { type: string, format: uuid }
        booking_id: { type: string, format: uuid, nullable: true }
        items:
          type: array
          items:
            type: object
            required: [item_type, item_id, quantity]
            properties:
              item_type: { type: string, enum: [variant, service, package] }
              item_id: { type: string, format: uuid }
              quantity: { type: number }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        provider: { type: string }
        status:
          type: string
          enum: [INITIATED, PENDING, AUTHORIZED, CAPTURED, FAILED, CANCELLED, REFUNDED, PARTIALLY_REFUNDED]
        amount: { type: number }
        currency: { type: string }
        idempotency_key: { type: string }

    PaymentCreateInput:
      type: object
      required: [order_id, amount, provider]
      properties:
        order_id: { type: string, format: uuid }
        invoice_id: { type: string, format: uuid }
        amount: { type: number }
        currency: { type: string, default: SAR }
        provider: { type: string, example: moyasar }
        payment_method_token: { type: string }

    Refund:
      type: object
      properties:
        id: { type: string, format: uuid }
        payment_id: { type: string, format: uuid }
        amount: { type: number }
        status: { type: string, enum: [PENDING, APPROVED, REJECTED, COMPLETED] }
        reason: { type: string }

    RefundCreateInput:
      type: object
      required: [payment_id, amount, reason]
      properties:
        payment_id: { type: string, format: uuid }
        amount: { type: number }
        reason: { type: string }

    AvailabilitySlot:
      type: object
      properties:
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }
        is_available: { type: boolean }

    Booking:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        status:
          type: string
          enum: [DRAFT, HOLD, PENDING_PAYMENT, CONFIRMED, CHECKED_IN, COMPLETED, CANCELLED, EXPIRED, REFUND]
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }

    BookingCreateInput:
      type: object
      required: [resource_id, start_at, end_at]
      properties:
        customer_id: { type: string, format: uuid }
        resource_id: { type: string, format: uuid }
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }

    Customer:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        full_name: { type: string }
        email: { type: string }
        phone: { type: string }

    CustomerCreateInput:
      type: object
      required: [full_name]
      properties:
        full_name: { type: string }
        email: { type: string }
        phone: { type: string }

    PosTransactionSyncInput:
      type: object
      required: [device_id, local_transaction_id, payload]
      properties:
        device_id: { type: string }
        local_transaction_id: { type: string }
        payload: { type: object }

    PosTransactionSyncResult:
      type: object
      properties:
        device_id: { type: string }
        local_transaction_id: { type: string }
        server_transaction_id: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [SYNCED, CONFLICT, FAILED] }

    Webhook:
      type: object
      properties:
        id: { type: string, format: uuid }
        url: { type: string }
        events: { type: array, items: { type: string } }
        status: { type: string, enum: [active, disabled] }

    WebhookCreateInput:
      type: object
      required: [url, events]
      properties:
        url: { type: string }
        events: { type: array, items: { type: string } }
